//.dashboard
.im-dashboard {

    .table td, .table th {
        white-space: normal!important;
        padding:5px;
        border:none;
    }
    h3 {
        display: none;
    }
    .request-number {
        border-right: 1px solid $color-system-text-secondary;
        .card-title {
            small {
                font-size: 16px
            }
            color:$color-system-text-primary;
        }
        i {
            color: red;
            font-size: 24px;
        }
    }
   
    .dataTables_wrapper {
        .dataTables_length {
            display: none
        }
        .dataTables_filter {
            text-align: left;
            label {
                width: 100%;
                input {
                    width: 100%;
                    border: solid 1px #ccc;
                    margin-left: 0;
                    border-radius: $border-radius-btn;
                }
            }
        }
        .dataTables_info {
            font-size: 11px;
        }
        .dataTables_paginate {
            font-size: 11px;
            a {
                display: inline-block;
                color: $color-system-orange;
                margin: 0 5px 0;
            }
        }
    }
    .dataTable {
        border: none !important;
        font-size: 12px;
        .fa {
            font-size: 7.5rem
        }
        tbody {
            tr {
                float: left;
                width: 100%;
                border: 1px solid red!important;
                border-radius: 4px!important;
                background-color: #fff;
                margin-bottom: 16px;
            }
            td {
                display: block;
                border-bottom: none;
                border-top: none;
                border-left: none;
                &:first-child {
                    color: $color-system-text-primary;
                    font-size: 24px;
                    text-align: center;
                    
                    &::before {
                        display: block;
                        font-size: 11px!important;
                        width: 100%;
                        font-weight: bold;
                        content: "Nro de solicitud: "
                    }
                    &::after {
                        color: red;
                        width: 100%;
                        display: block;
                        font-family: 'FontAwesome';
                        content: "\f06a";
                    }
                }
                &:nth-child(2) {
                    border: none;

                    color: $color-system-text-primary;
                    font-size: 11px;
                    text-align: center;
                    //display: none
                }
                &:nth-child(3) {
                    display: none;
                    &::before {
                        font-weight: bold;
                        content: "Clasificación: "
                    }
                }
                &:nth-child(4) {
                    display: none;
                    &::before {
                        font-weight: bold;
                        content: "Solicitante: "
                    }
                }
                &:nth-child(5) {
                    color: $color-system-text-primary;
                    font-size: 14px;
                    &::before {
            
                        border-left: 1px solid lighing($color-system-text-primary, 80%);
                        color: $color-system-text-primary;
                        font-size: 11px;
                        font-weight: bold;
                        content: "Sucursal: ";
                        display: block;
                        padding-bottom: 0px;
                    }
                   

                }
                &:nth-child(6) {
                    display: none
                }
                &:nth-child(7) {
                    display: none
                }
                &:nth-child(8) {
                    display: none
                }
                &:nth-child(9) {
                    display: none;
                }
                &:nth-child(10) {
                    display: block;
                    color: $color-system-text-primary;
                    font-size: 12px;
                    &::before {
                        color: $color-system-text-primary;
                        font-size: 11px;
                        display: block;
                
                        font-weight: bold;
                        content: "Estado: "
                    }
                }
                &:nth-child(11) {
                    border-left: 1px solid lighing($color-system-text-primary, 80%);
                    .btn {
                        &.btn-warning {
                            border-color: $color-system-orange!important;
                            background-color: $color-system-orange!important;
                            color: #fff;
                        }
                    }
                }
            }
            label {
                display: none;
                display: inline;
                position: relative;
                font-size: 85%;
                top: -0.5rem;
                float: left;
                color: gray;
                min-width: 4rem;
                margin-left: 0;
                margin-right: 1rem;
                text-align: left
            }
        }
    }
    tr.selected label {
        color: #404040
    }
    .table .fa {
        font-size: 2.5rem;
        text-align: center
    }
    .table.table-striped.table-bordered.dataTable.no-footer thead {
        display: none
    }

    .dataTable{
        tr{
            display: grid;
            grid-template-columns: 35% 65%;
            grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
            align-items: start;
            }
 td{
    &:first-child {
        //////
        //background: yellow;
        justify-self: stretch;
        grid-column: 1;
        grid-row-start: 1;
        grid-row-end: 6;
        position: relative;
        padding-top: 24px;
        &::after{
            font-size: 1.2rem;
            position: absolute;
            left: 0;
            top:85%;
        }
       
        }
        &:nth-child(2) {
        //background: blue;
        justify-self: stretch;
        grid-column: 1;
        grid-row-start: 7;
        grid-row-end: 9;
        }

        &:nth-child(5) {
        //background: green;
        justify-self: stretch;
        grid-column: 2;
        grid-row-start: 1;
        grid-row-end:3;
        }
        &:nth-child(10) {
        //background: violet;
        justify-self: stretch;
        grid-column: 2;
        grid-row-start: 4;
        grid-row-end: 8;
        //overflow: auto;
        }
        &:nth-child(11) {
            //btn
            //background: olive;
            grid-column: 2;
            grid-row-start:8;
            grid-row-end: 10;
        }
        
 }

    }
}