//_header.scss
.header-mobile {
    background-color: $bg-header-color;
    height: 80px;
    .header-mobile-imagen {
        padding: 1.2rem 1.5rem 0;
        text-align: center;
        img {
            width: 25%!important;
            height: auto;
        }
    }
    .header-mobile-slogan {
        color: #fff;
        text-align: center;
        font-weight: 100;
        font-size: 11px;
    }
    .admin-menu {
        background-color: $bg-header-color-light;
    }
    .user-menu {
        background-color: $bg-header-color-light;
    }


    &-content{
        padding: 15px;
        h1{ padding-top: 5px;
            font-size: 18px!important;
        }
    }

}
