@charset "UTF-8";
.box {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.message {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}

body {
  background-color: #eee;
}

a {
  color: #f35b3f;
}

a:hover {
  color: #f35b3f;
}

.btn-customized {
  background: #f35b3f;
  border: 0;
  color: #fff;
}

.btn-customized:hover, .btn-customized:active, .btn-customized:focus, .btn-customized:active:focus, .btn-customized.active:focus, .btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active, .btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
  outline: 0;
  background: #f6846f;
  border: 0;
  color: #fff;
  box-shadow: none;
}

a.btn-customized-3 {
  display: inline-block;
  margin: 0;
  padding: .75rem 1.5rem;
  border: 0;
  border-radius: 8px !important;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  box-shadow: none;
}

a.btn-customized-3:hover,
a.btn-customized-3:active,
a.btn-customized-3:focus,
a.btn-customized-3:active:focus,
a.btn-customized-3.active:focus,
a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
  outline: 0;
  background: #555;
  border: 0;
  color: #fff;
  box-shadow: none;
}

a.btn-customized-3 i {
  margin-right: 5px;
}

.swal-button--confirm {
  padding: 7px 19px;
  border-radius: 2px;
  background-color: #f35b3f;
  font-size: 12px;
  border: 0;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

.swal-button:not([disabled]):hover {
  background-color: #f35b3f;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #f35b3f !important;
}

.table {
  font-size: 11px;
  color: #666666 !important;
  white-space: nowrap;
}

.table th {
  font-size: 11px;
  font-weight: 600;
}

.wrapper-mobile {
  font-family: "Open Sans", sans-serif;
  display: block;
}

.sidebar-mobile {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -255px;
  z-index: 999;
  background: #333;
  color: #fff;
  transition: all .3s;
  box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.5);
  text-align: left;
}

.sidebar-mobile.active {
  left: 0;
}

.sidebar-mobile .sidebar-mobile-header {
  padding: 1px 15px;
  background-color: #555150;
}

.sidebar-mobile .sidebar-mobile-header .sidebar-mobile-imagen img {
  width: 80%;
  height: auto;
}

.sidebar-mobile .sidebar-mobile-header .sidebar-mobile-slogan {
  font-size: 11px;
}

.overlay-mobile {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(51, 51, 51, 0.7);
  z-index: 998;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.overlay-mobile.active {
  display: block;
  opacity: 1;
}

.open-menu {
  position: fixed;
  top: 20px;
  left: 10px;
  z-index: 997;
  box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.2);
}

.open-menu.btn-customized:hover, .open-menu.btn-customized:active, .open-menu.btn-customized:focus, .open-menu.btn-customized:active:focus, .open-menu.btn-customized.active:focus, .open-menu.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active, .open-menu.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.2);
}

.dismiss {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all .3s;
  background: #444;
  border-radius: 4px;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
}

.dismiss:hover,
.dismiss:focus {
  background: #555;
  color: #fff;
}

.sidebar-mobile .logo {
  padding: 40px 20px;
  border-bottom: 1px solid #444;
  transition: all .3s;
}

.sidebar-mobile .logo a {
  display: inline-block;
  width: 172px;
  height: 34px;
  background: url(../img/logo.png) left top no-repeat;
  border: 0;
  text-indent: -999999px;
}

.sidebar-mobile ul.menu-elements {
  padding: 10px 0;
  border-bottom: 1px solid #444;
  transition: all .3s;
}

.sidebar-mobile ul li a, .sidebar-mobile ul li p {
  display: block;
  padding: 10px 20px;
  border: 0;
  color: #fff;
}

.sidebar-mobile ul li a:hover,
.sidebar-mobile ul li a:focus,
.sidebar-mobile ul li.active > a:hover,
.sidebar-mobile ul li.active > a:focus {
  outline: 0;
  background: #555;
  color: #fff;
}

.sidebar-mobile ul li a i {
  margin-right: 5px;
}

.sidebar-mobile ul li.active > a,
a[aria-expanded="true"] {
  background: #444;
  color: #fff;
}

.sidebar-mobile ul ul a {
  background: #444;
  padding-left: 30px;
  font-size: 14px;
}

.sidebar-mobile ul ul li.active > a {
  background: #555;
}

.sidebar-mobile a[data-toggle="collapse"] {
  position: relative;
}

.sidebar-mobile .dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.sidebar-mobile .to-top {
  padding: 20px;
  text-align: center;
}

.content-mobile {
  width: 100%;
  transition: all 0.3s;
}

.request-content title {
  font-weight: 600;
}

.request-content .nav-tabs-mobile {
  border: 1px solid #dddddd;
  text-transform: uppercase;
  font-size: 12px;
}

.request-content .nav-tabs-mobile .nav-item .nav-link {
  border: none;
  color: #BABABA !important;
}

.request-content .nav-tabs-mobile .nav-item .nav-link:hover {
  background-color: transparent !important;
  color: #666666 !important;
}

.request-content .nav-tabs-mobile .nav-item.active {
  border-bottom: 1px solid #f35b3f;
}

.request-content .nav-tabs-mobile .nav-item.active .nav-link {
  color: #666666 !important;
}

.update-data {
  padding: 0 15px;
}

.update-data .card {
  margin: 0 0 30px;
}

.header-mobile {
  background-color: #555150;
  height: 80px;
}

.header-mobile .header-mobile-imagen {
  padding: 1.2rem 1.5rem 0;
  text-align: center;
}

.header-mobile .header-mobile-imagen img {
  width: 25% !important;
  height: auto;
}

.header-mobile .header-mobile-slogan {
  color: #fff;
  text-align: center;
  font-weight: 100;
  font-size: 11px;
}

.header-mobile .admin-menu {
  background-color: #666666;
}

.header-mobile .user-menu {
  background-color: #666666;
}

.header-mobile-content {
  padding: 15px;
}

.header-mobile-content h1 {
  padding-top: 5px;
  font-size: 18px !important;
}

.im-dashboard .table td, .im-dashboard .table th {
  white-space: normal !important;
  padding: 5px;
  border: none;
}

.im-dashboard h3 {
  display: none;
}

.im-dashboard .request-number {
  border-right: 1px solid #BABABA !important;
}

.im-dashboard .request-number .card-title {
  color: #666666 !important;
}

.im-dashboard .request-number .card-title small {
  font-size: 16px;
}

.im-dashboard .request-number i {
  color: red;
  font-size: 24px;
}

.im-dashboard .dataTables_wrapper .dataTables_length {
  display: none;
}

.im-dashboard .dataTables_wrapper .dataTables_filter {
  text-align: left;
}

.im-dashboard .dataTables_wrapper .dataTables_filter label {
  width: 100%;
}

.im-dashboard .dataTables_wrapper .dataTables_filter label input {
  width: 100%;
  border: solid 1px #ccc;
  margin-left: 0;
  border-radius: 4px !important;
}

.im-dashboard .dataTables_wrapper .dataTables_info {
  font-size: 11px;
}

.im-dashboard .dataTables_wrapper .dataTables_paginate {
  font-size: 11px;
}

.im-dashboard .dataTables_wrapper .dataTables_paginate a {
  display: inline-block;
  color: #f35b3f;
  margin: 0 5px 0;
}

.im-dashboard .dataTable {
  border: none !important;
  font-size: 12px;
}

.im-dashboard .dataTable .fa {
  font-size: 7.5rem;
}

.im-dashboard .dataTable tbody tr {
  float: left;
  width: 100%;
  border: 1px solid red !important;
  border-radius: 4px !important;
  background-color: #fff;
  margin-bottom: 16px;
}

.im-dashboard .dataTable tbody td {
  display: block;
  border-bottom: none;
  border-top: none;
  border-left: none;
}

.im-dashboard .dataTable tbody td:first-child {
  color: #666666 !important;
  font-size: 24px;
  text-align: center;
}

.im-dashboard .dataTable tbody td:first-child::before {
  display: block;
  font-size: 11px !important;
  width: 100%;
  font-weight: bold;
  content: "Nro de solicitud: ";
}

.im-dashboard .dataTable tbody td:first-child::after {
  color: red;
  width: 100%;
  display: block;
  font-family: 'FontAwesome';
  content: "\f06a";
}

.im-dashboard .dataTable tbody td:nth-child(2) {
  border: none;
  color: #666666 !important;
  font-size: 11px;
  text-align: center;
}

.im-dashboard .dataTable tbody td:nth-child(3) {
  display: none;
}

.im-dashboard .dataTable tbody td:nth-child(3)::before {
  font-weight: bold;
  content: "Clasificación: ";
}

.im-dashboard .dataTable tbody td:nth-child(4) {
  display: none;
}

.im-dashboard .dataTable tbody td:nth-child(4)::before {
  font-weight: bold;
  content: "Solicitante: ";
}

.im-dashboard .dataTable tbody td:nth-child(5) {
  color: #666666 !important;
  font-size: 14px;
}

.im-dashboard .dataTable tbody td:nth-child(5)::before {
  border-left: 1px solid lighing(#666666 !important, 80%);
  color: #666666 !important;
  font-size: 11px;
  font-weight: bold;
  content: "Sucursal: ";
  display: block;
  padding-bottom: 0px;
}

.im-dashboard .dataTable tbody td:nth-child(6) {
  display: none;
}

.im-dashboard .dataTable tbody td:nth-child(7) {
  display: none;
}

.im-dashboard .dataTable tbody td:nth-child(8) {
  display: none;
}

.im-dashboard .dataTable tbody td:nth-child(9) {
  display: none;
}

.im-dashboard .dataTable tbody td:nth-child(10) {
  display: block;
  color: #666666 !important;
  font-size: 12px;
}

.im-dashboard .dataTable tbody td:nth-child(10)::before {
  color: #666666 !important;
  font-size: 11px;
  display: block;
  font-weight: bold;
  content: "Estado: ";
}

.im-dashboard .dataTable tbody td:nth-child(11) {
  border-left: 1px solid lighing(#666666 !important, 80%);
}

.im-dashboard .dataTable tbody td:nth-child(11) .btn.btn-warning {
  border-color: #f35b3f !important;
  background-color: #f35b3f !important;
  color: #fff;
}

.im-dashboard .dataTable tbody label {
  display: none;
  display: inline;
  position: relative;
  font-size: 85%;
  top: -0.5rem;
  float: left;
  color: gray;
  min-width: 4rem;
  margin-left: 0;
  margin-right: 1rem;
  text-align: left;
}

.im-dashboard tr.selected label {
  color: #404040;
}

.im-dashboard .table .fa {
  font-size: 2.5rem;
  text-align: center;
}

.im-dashboard .table.table-striped.table-bordered.dataTable.no-footer thead {
  display: none;
}

.im-dashboard .dataTable tr {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  align-items: start;
}

.im-dashboard .dataTable td:first-child {
  justify-self: stretch;
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 6;
  position: relative;
  padding-top: 24px;
}

.im-dashboard .dataTable td:first-child::after {
  font-size: 1.2rem;
  position: absolute;
  left: 0;
  top: 85%;
}

.im-dashboard .dataTable td:nth-child(2) {
  justify-self: stretch;
  grid-column: 1;
  grid-row-start: 7;
  grid-row-end: 9;
}

.im-dashboard .dataTable td:nth-child(5) {
  justify-self: stretch;
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.im-dashboard .dataTable td:nth-child(10) {
  justify-self: stretch;
  grid-column: 2;
  grid-row-start: 4;
  grid-row-end: 8;
}

.im-dashboard .dataTable td:nth-child(11) {
  grid-column: 2;
  grid-row-start: 8;
  grid-row-end: 10;
}

.im-request .card-header small {
  display: block;
}

.im-request .alert-danger {
  background-color: red;
  color: #fff;
}

.im-request .custom-control {
  margin-bottom: 12px;
}

.im-request .error-form-modal {
  padding: 15px;
}

.im-request .error-form-modal h6 {
  color: #666666 !important;
}

.im-request .error-form-modal p {
  margin-bottom: 0.5rem;
}

.im-request div.error-form-modal {
  color: tomato;
  display: none;
  font-size: 11px;
  font-weight: bold;
}

.im-request .form-control.error {
  border: 2px solid tomato;
}

.im-request .form-check-input.error {
  width: 13px;
  height: 13px;
  position: relative;
}

.im-request .form-check-input.error::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 13px;
  height: 13px;
  border: 2px solid tomato;
  border-radius: 50%;
}

.im-request .form-check-input {
  width: 5%;
}

#im-providder-request {
  /*
    th {  
      &:first-child {
            background: red;
            width: 400px!important;
    
        }
    }
*/
}

#im-providder-request .table th {
  padding: 2px !important;
  white-space: normal !important;
}

#im-providder-request .table td {
  padding: 5px 2px !important;
}

#im-providder-request .table td[style] {
  width: auto !important;
}

#im-providder-request .table td:first-child select {
  width: 150px !important;
}

#im-providder-request .table td:nth-child(2) input {
  width: 50px !important;
  text-align: center;
}

#im-providder-request .table td:nth-child(3) input {
  width: 60px !important;
}

#im-providder-request .table td:nth-child(4) input {
  width: 60px !important;
  text-align: left !important;
}

#im-providder-request .table td:nth-child(5) input {
  width: 60px !important;
  text-align: left !important;
}

#im-providder-request .table td:nth-child(6) {
  background-color: cyan;
}

#cotizacion_proyecto > .embedded-form[style] {
  background: #fff !important;
}

#cotizacion_proyecto .embedded-form h3 {
  font-size: 16px !important;
}

#cotizacion_proyecto .form-control {
  font: 11px sans-serif;
}

.qty .count {
  color: #000;
  display: inline-block;
  vertical-align: top;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  padding: 0 2px;
  min-width: 35px;
  text-align: center;
}

.qty .plus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: white;
  width: 30px;
  height: 30px;
  font: 30px/1 Arial, sans-serif;
  text-align: center;
  border-radius: 50%;
}

.qty .minus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: white;
  width: 30px;
  height: 30px;
  font: 30px/1 Arial, sans-serif;
  text-align: center;
  border-radius: 50%;
  background-clip: padding-box;
}

div.qty {
  text-align: center;
}

.minus:hover {
  background-color: #717fe0 !important;
}

.plus:hover {
  background-color: #717fe0 !important;
}

/*Prevent text selection*/
span {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input {
  border: 0;
  width: 2%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:disabled {
  background-color: white;
}

.im-accordion .card-header button {
  position: relative;
}

.im-accordion .card-header button:after {
  width: 5%;
  font-family: 'FontAwesome';
  content: "\f068";
  position: absolute;
  right: 5px;
  top: 25%;
  z-index: 100;
}

.im-accordion .card-header button.collapsed:after {
  content: "\f067";
}

.im-accordion .card-header button span {
  display: block;
  font-size: 12px !important;
}

.im-accordion .card-body h5 {
  font-size: 16px;
  font-weight: 600;
}

.im-accordion .card-body p {
  font-size: 14px;
  color: #000;
  margin-bottom: 7px;
}

.im-accordion .card-body p strong {
  font-size: 12px;
  font-weight: 600;
  display: block;
  margin-bottom: 2px;
  color: #666666 !important;
}

.im-accordion .card-body table {
  font-size: 11px;
  color: #666666 !important;
}

.im-accordion .card-body table th {
  font-size: 11px;
  font-weight: 600;
}
